//--------------------------------------------------------------
// Card Styling
//--------------------------------------------------------------
.card-container {
	align-content: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} // .card-container

.card {
	background-color: $color-whitesmoke;
	border: rem(2) solid $color-alto;
	margin-bottom: $gutter;
	padding: $gutter;
	width: 100%;

	$max: 5;

	// Loop through class names.
	@for $i from 1 through 5 {
		&.span-column-#{$i} {
			@if $i <= $max {
				width: calc(100% / #{$i});
			} @else {
				width: 33.33%;
			}
		} // &-#{$i}
	} // end for | from | through

	.card-content-area {

		.card-footer {
			a {
				text-decoration: underline;
			} // a
		} // .card-footer
	} // .card-content-area
} // .card
